.filter {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    width: 227px;
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;   
    padding: 0px 5px;
    box-sizing: border-box;
}

.filter input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.filter .search {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-family: NotosansKR;
    font-weight: 700;
    font-size: 15px;    
}

.filter .search-icon {
    width: 17px;
    height: 17px;
}

@media (min-width: 3400px) and (min-height: 1800px) {
    .filter {
        display: flex;
        align-items: center;
        position: relative;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 0, 0, 1);
        width: 445px;
        height: 70px;
        margin-top: 52px;
        margin-left: 42px;   
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .filter .search {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        text-align: center;
        font-family: NotosansKR;
        font-weight: 700;
        font-size: 30px;    
    }
    
    .filter .search-icon {
        width: 34px;
        height: 34px;
    }
}

.search-container-wrapper {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 258px; /* 고정 너비 */
    margin-left: 20px; /* filter와 일치하게 */
    margin-top: 5px;
    background-color: #f5bcbc;
}
.search-container {
    display: flex;
    margin-left: 20px;   
    margin-top: 5px;
    width: 227px;
    height: 295px;
    border: 1px solid #ccc;
    overflow-y: auto;
    background-color: #fff;
    flex-direction: column;

    overflow-y:scroll;
    scrollbar-width: none;
  }
  .search-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  .search-container button.selected {
    background-color: #f5bcbc;
  }
  .search-container button.dimmed {
    background-color: #eee;
  }
  .search-container button:last-child {
    border-bottom: none;
  }
  .user-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .user-button span.text {
    margin: 0 auto;
    text-align: center;
    flex: 1;
  }
  .user-button .dot {
    width: 9px;
    height: 9px;
    background-color: rgba(255,0,0,1);
    border-radius: 50%;
    flex-shrink: 0;
  }


  .search-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .custom-scrollbar {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 6px;
    background: transparent;
    position: relative;
    height: 295px;
    left: 260px;
    top: -295px;
    bottom: 0;
    box-sizing: border-box;
    display: none;
  }
  
  .custom-scrollbar-thumb {
    width: 100%;
    height: 30px;
    background-color: #ccc;
    border-radius: 6px;
  }
  
  
   
